.content  div[class$="index"] > h1, .content  div[class$="create"] > h1, .content  div[class$="update"] > h1 {
    display: none;
}
div.pagination-holder {
    float: right;
    width: 33%;
    text-align: right;
}
div.pagination-holder .pagination {
    margin: 0 0 10px 0;
}
.summary {
    float: right;
    width: 33%;
    text-align: center;
    padding-top: 8px;
}

.table > thead > tr > th {
    border-bottom: 1px solid #ddd;
}

table.table {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.table-footer {
    margin: 10px 8px 0 8px;
}

td.action-column a {
    padding: 5px 10px 4px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #333;
}

td.action-column a[title="Delete"] {
    background-color: #D36A5F;
    border-color: #D36A5F;
    color: #fff;
}
